html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
	display: block;
}

body{
	background-color: #E6E6FA;
	overflow-x: hidden;
	background-size: cover;
}
.container{
	margin: 0;
	padding: 0;
	background-color: #E6E6FA;
}
#head_wrap{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	border-bottom: 2px solid white;
	padding: 15px;
	background: green;
}
#header{
	margin: 0 auto;
	width: 1080px;
	height: 25px;
}
#menu{
	line-height: 40px;
	padding: 0;
	margin: 0;
	float: left;
}
#menu li{
	display: inline;
	list-style: none;
}
#menu a{
	margin: 2px;
	padding: 4px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
#menu a:hover{
	color: #555;
	font-weight: bolder;
	text-decoration: underline;
}
#form1{
	float: right;
	line-height: 3px;
	padding-top: 9px;
}
#form1 input[type=text]{
	width: 64%;
	height: 25px;
	color: green;
}
#form1 input[type=submit]{
	width: 30%;
	height: 30px;
	color: green;
}
.content{
	width: 1000px;
	margin: 0 auto;
}
#user_timeline{
	background: green;
	width: 290px;
	float: left;
	height: 700px;
	border-right: 1px solid green;
}
#user_details{
	padding: 10px;
}
#user_details img{
	border: 2px solid black;
	border-radius: 20px;
}
#user_details p{
	margin-bottom: 10px;
	padding: 5px;
}

#user_mention{
	background: green;
	border: 2px solid black;
	border-radius: 20px;
	width: 200px;
	margin: 0 auto;
	padding: 5px;
}


.content{
	width: 1000px;
	margin: 0 auto;
	color: black;
}
#user_timeline{
	background: green;
	width: 290px;
	float: left;
	height: 700px;
	border: 1px solid green;
}
#user_details
{
	padding: 10px;
}
#user_details img{
	margin-bottom: 10px;
	padding: 5px;
	text-decoration: none;
}

#user_details a:hover{
	color: #555;
	font-size: 20px;
	padding: 5px;
	text-decoration: underline;
	font-weight:bolder;
}
#user_mention
{
	background: green;
	bottom: 2px solid black;
	border-radius: 20px;
	width: 200px;
	margin: 0 auto;
	padding: 5px;
}
#content_timeline
{
	float: right;
	width: 600px;
	padding: 10px;
}

.ff input{margin-bottom: 5px;}
.ff select{margin-bottom: 5px;}

#f input
{
	padding: 9px;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
}
#f textarea{
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bolder;
	color: black;
}
#f select{
	padding: 9px;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bolder;
}
#f input:hover{
	background: #FFF8DC;
}
#f select:hover{
	background: #FFF8DC;
}
#f textarea:hover{
	background: #FFF8DC;
}
#f h2{
	color: black;
	font-family: Sansational;
}
#pagination{
	margin-top: 20px;
}
#pagination a{
	color: black;
	text-decoration: none;
	font-size: 18px;
	margin: 5px;
}
#pagination a:hover{
	color: green;
	font-weight: bold;
}
#posts{
	width: 600p;
	background: green;
	padding: 15px;
	line-height: 42px;
	border: 1px solid black;
	text-align: justify;	
}
#posts img
{
	float: left;
	padding-top: 5px;
	padding-right: 10px;
}
#posts h3{
	color: black;

}
#posts button{
	padding: 8px;
}
#posts button:hover{
	background: #555;
	color: green;
	border: 1px solid green;
}
#reply textarea{
	padding: 8px;
	border: 1px solid green;
	border-radius: 5px;
	font-weight: bolder;
	background: #F5F5DC;
}
#reply input{
	padding: 8px;
	border: 1px solid green;
	border-radius: 5px;
	font-weight: bolder;
	background: green;
}
#reply input:hover{
	padding: 8px;
	border: 1px solid green;
	border-radius: 5px;
	font-weight: bolder;
	background: #555;
}
#comments
{
	background: green;
	padding: 5px;
	width: 300px;
	border-bottom: 2px solid #F0FFF0;
}
#comments span{
	color: #FFF8DC;
}
#comments h3{
	color: #FFD700;
}
#comments p{
	line-height: 20px;
	font-size: 16px;
	padding: 5px;
}